@model IEnumerable<EventManagement.DataAccess.DataBase.Model.Exhibitor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
    <script src="~/Scripts/sorttable.js"></script>
@section Script{
    <script>
        $('.gqrCode').click(function () {
            linkEle = this;
            $.ajax({
                url: '@Url.Action("CreateExhibitorQrCode")/?exhibitorID=' + $(this).attr("data-id"),
                success: function (result) {
                    parentEle = $(linkEle).parent();
                    $(parentEle).append('<img src="@Url.Content("~/ImageFile")/' + result + '" height="50" width="50" />');
                    $(linkEle).remove();
                }
            })
        });
    </script>
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row topbar">
            <div class="col-md-10">
                <h2>All Exhibitors</h2>
            </div>
            <div class="col-md-2">
                <text class="btn btn-primary button">@Html.ActionLink("Create New", "Create")</text>
            </div>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row spaceing">



            <div class="box box-primary">
                @*<div class="box-header with-border">*@
                <table class="table box box-primary ui-sortable-handle">
                    <thead>
                        <tr>
                            <th style="cursor:pointer">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Thumbnail)
                            </th>
                            @*<th>
                                    Qr Code
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.DocURL)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Status)

                            </th>*@
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.Raw(item.Name)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>*@
                            <td>
                                <img height="50" width="50" src="@MvcCustom.ImagePath(item.Thumbnail)" />
                            </td>
                            <td>
                                @if (item.QRCodes.Any())
                                {
                                    <img height="50" width="50" src="@MvcCustom.ImagePath(item.QRCodes.FirstOrDefault().CodePath)" />
                                }
                                else
                                {
                                    <a data-id="@item.ID" class="gqrCode" href="#">GenerateQRCode</a>
                                }
                            </td>
                                                    @*<td>
                                    @Html.DisplayFor(modelItem => item.DocURL)
                                </td>*@
                                                    @*<td>
                                    @if (item.QRCodes.Any())
                                    {
                                        <img height="50" width="50" src="@MvcCustom.ImagePath(item.QRCodes.FirstOrDefault().CodePath)" />
                                    }
                                    else
                                    {
                                        <a data-id="@item.ID" class="gqrCode" href="#">GenerateQRCode</a>
                                    }
                                </td>*@
                                                    @*<td>

                                    @if (item.Status != true)
                                    {
                                        <span>InActive</span>
                                    }
                                    else
                                    {
                                        <span>Active</span>
                                    }
                                </td>*@
                            <td class="textColor">
                                  <a class="btn btn-warning" href='@Url.Action("Create", new { id = item.ID })'>Edit</a>
                                    <text> </text>
                                    <a class="btn btn-info" href='@Url.Action("Details", new { id = item.ID })'>Details</a>
                                    <text> </text>
                                    <a class="btn btn-warning" href='@Url.Action("DeleteExhibitor", new { id = item.ID })' onclick="return confirm('Are you sure you want to delete this item?. All the content will be deleted');">Delete</a>
                               
                                @*<text class="btn btn-warning"> @Html.ActionLink("Edit", "Create", new { id = item.ID })</text>
                                <text> </text>
                                <text class="btn btn-info">@Html.ActionLink("Details", "Details", new { id = item.ID }) </text>
                                <text> </text>
                                <text class="btn btn-warning"> @Html.ActionLink("Delete", "DeleteExhibitor", new { id = item.ID }, new { @class = "btnDelete" })</text>*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </section>
</div>