@model EventManagement.Models.FloorMapResponse
@{
    ViewBag.Title = "FloorMapDetails";
    Layout = null;
}
@section Scripts{
}
<head>
    <style>
        html {
            height: unset !important;
            min-height: 0% !important;
        }
        .easy-marker {
            background-image:  url('@Url.Content("~/img/marker.png")')  !important;
        }
        .easy-edit {
            background-image: url('@Url.Content("~/img/edit.png")') !important;
        }
        .easy-delete {
            background-image: url('@Url.Content("~/img/remove.png")') !important;
        }
        .chosen-container{
    width: auto !important;
}

    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content//bower_components/font-awesome/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content//bower_components/Ionicons/css/ionicons.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content//dist/css/AdminLTE.min.css")">
    <!-- ColorPicker-->
    <link rel="stylesheet" href="@Url.Content("~/Content/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content//dist/css/AdminLTE.min.css")">
    <!-- Custom style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content//dist/css/skins/_all-skins.min.css")">
    <link href="@Url.Content("~/Content/bootstrap-chosen.css")" rel="stylesheet" />
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="@Url.Content("~/Content/dist/jquery.easypin.js")"></script>

@*<script src="@Url.Content("~/Scripts/chosen.jquery.js")"></script>*@
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row topbar">
            <div class="col-md-10">
                <form action="@Url.Action("PassValues","Events")" id="submitCords" method="POST">
                    <input type="hidden" name="jsond" id="jsond" />
                    <input type="hidden" name="fmid" value="@Model.canvas.fmid" />

                    <input class="coords" type="submit" value="Save Changes" />
                </form>
            </div>
            @*<div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Select Activities</label>
                        <div class="col-md-10">
                            <select name="Activities" class="control-label">
                                @foreach (var item in ViewBag.Activities)
                                {
                                    <option value="@item.ID">@item.Name </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>*@
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row spaceing">
            <div class="box box-primary">
                <img src="@MvcCustom.ImagePath(Model.canvas.src)" width="@Convert.ToInt32(Model.canvas.width)" class="pin" easypin-id="example_image1" />

                <!-- dialog window -->
                <div class="easy-modal" style="display:none;" modal-position="free">
                    @*type something: <input name="content" type="text">*@
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-12">Select Floorlocation</label>
                            <div class="col-md-10">
                                <select name="content" class="control-label">
                                    @foreach (var item in ViewBag.FloorLocations)
                                    {
                                        <option value="@item.Location">@item.Location </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-horizontal">

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Select Activities</label>
                                    <div class="col-md-10">
                                        <select name="Activities" class="control-label" multiple>
                                            @foreach (var item in ViewBag.Activities)
                                            {
                                                <option value="@item.ID">@item.Name </option>
                                            }
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Select Sponsors</label>
                                <div class="col-md-10">
                                    <select name="Sponsors" class="control-label" multiple>
                                        @foreach (var item in ViewBag.Sponsors)
                                        {
                                            <option value="@item.ID">@item.Name </option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">Select Exhibitors</label>
                                <div class="col-md-10">
                                    <select name="Exhibitors" class="control-label" multiple>
                                        @foreach (var item in ViewBag.Exhibitors)
                                        {
                                            <option value="@item.ID">@item.Name </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>*@
                    <input type="button" value="save pin!" class="easy-submit">

                </div>

                <!-- popover -->
                <div style="display:none;" width="130" shadow="true" popover>
                    <div style="width:100%;text-align:center;">{[content]}</div>
                </div>

                <br />


            </div>

        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$('select').chosen();
        var $easyInstance = $('.pin').easypin({
            init: @Html.Raw(Json.Encode(ViewBag.jstring)),
             popover: {
                 content: function (value) {
                $("select").trigger("chosen:updated");
                    return value;
                }
            },
            done: function (element) {
                return true;
            }
        });

        $easyInstance.easypin.event("get.coordinates", function ($instance, data, params) {

            console.log(data, params);

        });

        $("#submitCords").submit(function (event) {
            var pinData;
            $easyInstance.easypin.fire("get.coordinates", { param1: 1, param2: 2, param3: 3 }, function (data) {
                $('#jsond').val(JSON.stringify(data));
                pinData = data;
                alert(JSON.stringify(data));
                console.log($('#jsond').val());
                $.each(data, function (i, v) {
                    console.log(i, v);
                });
            });
            var content = [];
            for (var x in pinData.example_image1) {
                if(x != 'canvas')
                content.push(pinData.example_image1[x].content);
            }
            if (hasDuplicates(content)) {
                alert("Locations should be unique, please mark unique locations");
                return false;
            }
        });

        function hasDuplicates(arr) {
            return arr.some((item, index) => arr.indexOf(item) != index)
        }

    });
</script>

